*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.iml
*.ipr
*.iws
.idea/
.vscode/
.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins-dependencies
.metadata
android/
ios/
macos/
linux/
windows/
coverage/
app.*.symbols
google-services.json
GoogleService-Info.plist
test/
web/
analysis_options.yaml
